<div class="container">
<h4>ジャンル編集</h4>
<%= form_with model: [@shop, @genre], local:true do |f| %>
<table class="table table-borderless">
  <tr><th>商品ジャンル</th><td><%= f.collection_select :genre_id, @shop.genres.all, :id, :name, { include_blank: "--選択してください--　" } %></td></tr>
  <tr><th></th><td><%= f.submit "更新" %></td></tr>
</table>
<% end %>
</div>