$('.message').append("<p style='width: 33%; background-color: #33FFCC; text-align: left; margin:10px 0 0 auto; padding-right: 10px; border-radius: 5px;'><%= @message.message %></p>");
$('input[type=text]').val("")