<h4>商品詳細</h4>
<%= attachment_image_tag @shop, :image, size: '100x100', formate: 'jpeg', fallback: "no_image.jpeg" %>
<table class="table table-borderless">
  <tr><th>店舗名</th></tr><tr><td><%= @shop.shop_name %></td></tr>
  <tr><th>住所</th></tr><tr><td><%= @shop.address %></td></tr>
  <tr><th>店舗コメント</th></tr><tr><td><%= @shop.comment %></td></tr>
</table>
