
   <h4> タグリスト</h4>
   <% cook_tags.each do |list| %>
     <span>
       <%= link_to list.tag_name, tag_cooks_path(tag_id: list.id) %>
       <%= "(#{list.cooks.count})" %>
     </span>
   <% end %>
   <% if @user == current_user %>
    <%= link_to "タグ管理", cooks_tag_path, class: "fas fa-edit ml-4" %>
   <% end %>