<div class="bglayout py-5">
  <div class="container">
    <div class="mt-5">
      <h2 class="mb-3">フォロー中</h2>
      <% if @users.exists? %>
        <%= render '/users/follow', users: @users %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>