<div class="container d-flex wrap mt-5">
  <div>
   <%= render "users/user-info", user: @user %>
   <%= render "shops/shop-new", shop: @shop %>
  </div>
  <div>
   <%= render "shops/my-shop", shops: @shops %>
  </div>
</div>
