<div class="about-image text-center bg-success d-flex align-items-center justify-content-center ">
 <div>
  <h1>
    買い物を楽しむために！！ <br>
    貴方のためのメモアプリ
  </h1>
  <h4 class="mt-3">KAIMONO JAWSで自分だけのメモアプリを作っていこう</h4>
  </div>
 </div><!--1段目終わり-->
 <div class="text-center d-flex align-items-center justify-content-center w-100" style="height: 300px;">
  <div>
    <div class="d-flex wrap justify-content-center mb-3">
      <h1 class="far fa-question-circle mb-4"></h1>
        <div>
          <div class="text-center mx-3">
           <div class="image-jaws2 mx-auto"></div>
           <h4 class="text-rogo text-dark">KAIMONO JAWS</h4>
            <p class="text-sbrogo text-dark">EASY TO USE NOTEPAD</p>
          </div>
        </div>
       <h1 class="mt-5">とは</h1>
    </div>
    <h4>お気に入りのお店を登録し複数人と共有することができるアプリです</h4>
  </div>
 </div><!--２段目終わり-->

