<div class="d-flex wrap top-box">
    <div class="top-image1 bg-dark d-flex align-items-center justify-content-center w-50">
     <div class="text-center">
      <div class="image mx-auto"></div>
      <h1 class="text-jaws text-light">KAIMONO JAWS</h1>
      <h4 class="text-easy text-light">EASY TO USE NOTEPAD</h4>
      <a href="/users/sign_in">
      <button class="blob-btn">
        メモ帳を使う
        <span class="blob-btn__inner">
          <span class="blob-btn__blobs">
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
          </span>
        </span>
      </button>
      </a>
      </div>
     </div>
<div class="top-image2 w-50">
    <div class="text-top">
    <div class="setuyaku mx-auto">
    <h4 class="text-center text-light">
       節約してお金を貯めたい！</br>
       日々の買い物を効率的に済ませたい！</br>
       これはそうした気持ちに応えるアプリケーションです
       </h4>
     </div>
    <div class="mx-auto d-flex wrap bg-light w-75 my-5">
      <div class="shop-image"></div>
      <div class="arrow-image mt-4 mx-auto"></div>
      <div class="memo-image "></div>
     </div>
    <div class="setuyaku mx-auto">
    <h4 class="text-center text-light">
       お気に入りの店舗を登録して</br>
       自分のメモ帳を制作しよう</br>
       </h4>
     </div>
    </div>
</div>
</div>

