// Place all the styles related to the Cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-float-border-edit { //更新ボタン
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: 	#008000;
  border: solid 2px #008000;
  border-radius: 3px;
  transition: .4s;
}

.btn-float-border-edit:hover {
  background: #008000;
  color: white;
}                  //更新ボタン終わり

.btn-float-border-user { //ユーザーへ
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: 	#000080;
  border: solid 2px #000080;
  border-radius: 3px;
  transition: .4s;
}

.btn-float-border-user:hover {
  background: #000080;
  color: white;
}                  //ユーザーへ


@media screen and (max-width: 559px) {
.methodresponsive {
  margin-top: 50px;
}

}
