// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-float-border-new { //新規登録
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: 	#008000;
  border: solid 2px #008000;
  border-radius: 3px;
  transition: .4s;
}

.btn-float-border-new:hover {
  background: #008000;
  color: white;
}                  //新規登録ボタン終わり

.productrespons {
   width: 25%;
}

.ProductShowre {
  height: 500px;
}

@media screen and (max-width: 959px) {
.productrespons {
  width: 100%;
  margin-top: 50px;
}

.ProductShowre {
  height: 800px;
}
}