// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-float-border-new { //DM機能ボタン
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: 		#008000;
  border: solid 2px #008000;
  border-radius: 3px;
  transition: .4s;
}

.btn-float-border-new:hover {
  background: #008000;
  color: white;
}                  //DM機能ボタン

@media screen and (max-width: 959px) {
.tablerespons {
  width: 100%;
  min-width: 800px; //例えば
}
}