<nav class="navbar bg-dark">
    <div class="text-center ml-2">
   <div class="image-jaws mx-auto"></div>
    <h4 class="text-rogo text-light">KAIMONO JAWS</h4>
      <p class="text-sbrogo text-light">EASY TO USE NOTEPAD</p>
    </div>
    </div>
</nav>
